{% extends 'base.html.twig' %}


{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for ad in ads %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ ad.title }}</h2>
                        </header>

                        <p>
                            {{ ad.summary }}
                        </p>

                        <small class="author">
                            {{ ad.author.fullName }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('ad_view',{'id': ad.id}) }}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
