{% extends 'base.html.twig' %}

{% block main %}
    {% for report in reports|reverse %}

    <li><a href="{{ path('report_view', {'id': report.id}) }}"> {{ report.title }} </a></li>
    {% endfor %}
{% endblock %}
